@import "~@angular/material/theming";

// If you want to understand what's happening here, read: https://blog.thoughtram.io/angular/2017/05/23/custom-themes-with-angular-material.html

@include mat-core;

$primary: (50: #e2eef3, 100: #b7d4e1, 200: #87b8cd, 300: #569cb9, 400: #3286aa, 500: #0e719b, 600: #0c6993, 700: #0a5e89, 800: #08547f, 900: #04426d, A100: #9cd1ff, A200: #69b9ff, A400: #36a1ff, A700: #1d95ff, contrast: (50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #ffffff, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #000000, A700: #ffffff));
$accent: (50: #fcf4e1, 100: #f9e4b4, 200: #f5d382, 300: #f0c150, 400: #edb32b, 500: #eaa605, 600: #e79e04, 700: #e49504, 800: #e18b03, 900: #db7b01, A100: #ffffff, A200: #ffe7cf, A400: #ffce9c, A700: #ffc283, contrast: (50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #000000, 500: #000000, 600: #000000, 700: #000000, 800: #000000, 900: #000000, A100: #000000, A200: #000000, A400: #000000, A700: #000000));
$warn: (50: #f9e0e0, 100: #f0b3b3, 200: #e68080, 300: #db4d4d, 400: #d42626, 500: #cc0000, 600: #c70000, 700: #c00000, 800: #b90000, 900: #ad0000, A100: #ffd7d7, A200: #ffa4a4, A400: #ff7171, A700: #ff5858, contrast: (50: #000000, 100: #000000, 200: #000000, 300: #ffffff, 400: #ffffff, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #000000, A700: #000000));

$custom-theme-primary: mat-palette($primary);
$custom-theme-accent: mat-palette($accent);
$custom-theme-warn: mat-palette($warn);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);
