@import "../styles.scss";

:host {
    display: flex;
    height: 100%;
}

.phone {
    height: 714px;
    width: 414px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: mat-color($primary, 100);

    .header {
        padding: 25px;
        background-color: mat-color($primary, 500);
        color: mat-contrast($primary, 500);
        flex: 0 0 96px;

        .sub-header {
            font-weight: 700;
        }
    }

    .content {
        flex-grow: 1;
        padding: 25px;
    }
}